:root {
    --body-color: hotpink;
    --pane-padding: 5px 42px;
  }
  @font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url("https://patdryburgh.github.io/hitchens/assets/fonts/eb-garamond-v9-latin-regular.eot");
    src: local("EB Garamond Regular"), local("EBGaramond-Regular"), url("https://patdryburgh.github.io/hitchens/assets/fonts/eb-garamond-v9-latin-regular.eot?#iefix") format("embedded-opentype"), url("https://patdryburgh.github.io/hitchens/assets/fonts/eb-garamond-v9-latin-regular.woff2") format("woff2"), url("https://patdryburgh.github.io/hitchens/assets/fonts/eb-garamond-v9-latin-regular.woff") format("woff"), url("https://patdryburgh.github.io/hitchens/assets/fonts/eb-garamond-v9-latin-regular.ttf") format("truetype"), url("https://patdryburgh.github.io/hitchens/assets/fonts/eb-garamond-v9-latin-regular.svg#EBGaramond") format("svg")
  }
  
  body {
    background: #fede00;
    color: #0b0404;
    font-family: "EB Garamond", Garamond, "Times New Roman", serif;
    font-size: 1.3125em;
    line-height: 1.5
  }
  